.beer_name{
    font-size: calc((12vw - 5.5rem) / 9);
}
.error{
    animation: highlightText 5s infinite !important;
    font-weight: bolder;
    font-size: 15px;
}
@keyframes highlightText{
    0%   {
        font-weight: bolder;
    }
    10%  {
        font-weight: normal;
    }
    20%   {
        font-weight: bolder;
    }
    30%  {
        font-weight: normal;
    }
    40%   {
        font-weight: bolder;
    }
    50%  {
        font-weight: normal;
    }
    60%   {
        font-weight: bolder;
    }
    70%  {
        font-weight: normal;
    }
    80%   {
        font-weight: bolder;
    }
    90%  {
        font-weight: normal;
    }
    100%  {
        font-weight: bolder;
    }
}
.header{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 30%;
    margin-left: 35%;
}
#main tr:nth-child(odd){
    background-color: transparent;
}
#main tr:nth-child(even){
	background-color: #b9222e;
}
#main tr:first-child{
    background-color: transparent !important;
    border: 0px !important;
}
#main tr:first-child:hover{
    outline: 0px !important;
}

tr:hover{
    outline:3px solid #425292;
}