body {
    background-color: #29335c;
    overflow: hidden;
}
.cloned-stat-container{
    display: none;
}
.canvasjs-chart-credit{
    display: none;
}
/* div#chartContainerBeer-cloned{
    display: none;
} */


.main {
    border-radius: .25rem;
    width: 50%;
    height: 100%;
    background: linear-gradient(#DB2B39, #29335c);
    text-align: center;
}



#override div {
    background-color: transparent;
}

.item {
    border: 1px black solid;
    margin-top: 2px;
    margin-bottom: 2px;
}
.stamp{
    color: black;
    font-size: 10px;
    background-color: transparent;
    text-align: left;
    text-align: center;
}
.nodata{
    margin-top: 20%;
    margin-bottom: 50%;
}

.outer{
    width: 100%;
    display:flex;
    margin-top: 10%;
}

.container{
    display: inline-flex;
    margin-right: auto;
    height: 500px;
}

.stat-container{
    opacity: 0; 
    color: black;
    font-size: 60px;
    height: 500px;
    width: 250px;
    margin-bottom: auto;
    display: inline-flex;
    background: linear-gradient(#DB2B39, #29335c);
    border-radius: .25rem;
    border-top-right-radius: 0px;
}
.stat-container:hover{
    opacity:1;
    animation-name: slide-left;
    animation-duration: 0.2s;
    position: relative;
    z-index: 100;
}
.stat-container:hover + .main{
    border-top-left-radius: 0px;
}

.check {
    position: relative;
    height: 27px;
    width: 27px;

    top: -2px;
    left: -5px;
}
.search-checkbox{
    top:86px;
}
.brewery-checkbox{    
    top: 42px;
}
.country-checkbox{    
    top: -3px;
}
.year-checkbox{    
    top: -43px;
}



@keyframes slide-left {
    
    0%  {left: 30px;}
    10% {left: 25px;}
    20% {left: 20px;}
    30% {left: 15px;}
    40% {left: 13px;}
    50% {left: 7px;}
    60% {left: 6px;}
    70% {left: 5px;}
    80% {left: 4px;}
    90% {left: 3px;}
    100%{left: 2px;}
}

.search-container {
    opacity: 0;
    color: black;
    font-size: 60px;
    height: 100%;
    width: 250px;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-right: auto; */
    display: inline-flex;
    
}
.search-container:hover{
    opacity:1;
    animation-name: slide-right;
    animation-duration: 0.2s;
    margin-left: 0px;
    z-index: 100;
    position: relative;
}

.filter-bar{
    background: linear-gradient(#DB2B39, #29335c);
    border-radius: .25rem;
    height: 500px;
    margin-left: -37px;
    z-index:-9999;
}
.filter-bar>form{
    margin-left: 10%;
}
.form-input{
    font-size: 1rem;
    width: 70%;
    position: relative;
}

.search{
    top:80px;
}
.brewery{
    top:35px
}
.country{
    bottom: 10px
}
.year{
    bottom:50px
}
.submit{
    bottom: 90px;
}
html body div.outer div.container div.main div#carouselExampleIndicators.carousel.slide div.carousel-inner div.carousel-item.active img {
    position: inherit;
    z-index: 90000123;
    -webkit-box-shadow: 0px 0px 70px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 70px -18px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 70px -18px rgba(0,0,0,0.75);
}
@keyframes slide-right {
    0%  {margin-left: -30px;}
    10% {margin-left: -25px;}
    20% {margin-left: -20px;}
    30% {margin-left: -15px;}
    40% {margin-left: -10px;}
    50% {margin-left: -5px;}
    60% {margin-left: -4px;}
    70% {margin-left: -3px;}
    80% {margin-left: -2px;}
    90% {margin-left: -1px;}
    100%{margin-left: 0px;}
}


@media screen and (max-width: 1240px){
    .stamp{
        display: none;
    }
    body{
        overflow: visible;
    }
    .container{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 100%;
    }
    .main{
        height: 900px;
        width: 90%;
        margin-left: 5%;
        border-top-left-radius: 0.25em;
        border-top-right-radius: 0.25em;
    }
    .outer{
        margin-top: 5%;
    }
    .stat-container{
        display: none;
    }
    .stat-container:hover{
        display: none;
    }

    .container>.search-container{
        opacity:1;
        width: 100%;
        margin-top: -5px;
        /* background: linear-gradient( transparent,#DB2B39); */
    }
    .filter-bar {
        background: linear-gradient( transparent,#DB2B39);
        margin: 0;
        margin-left: 0px;
        width: 90%;
        margin-left: 5%;
    }
    .filter-bar > form {
        margin-left: 18%;
        margin-top: 20%;
    }
    .container>.search-container:hover{
        opacity: 1;
        animation-name: none;
        /* background: linear-gradient( transparent,#DB2B39); */
    }
    img{
        width: 600px;
        height: 400px;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    }
   
    input.check{
        display: none;
    }

    form{
        display: flex;
        flex-direction: column;
        line-height: 60px;
        width:90%;
        
    }
    input.form-input,  select.form-input{
        /* margin-bottom: 10px; */
        position: inherit;
        background-color: #DB2B39;
        border: 0px;
        border: 2px solid black;
        /* border-radius: 0.5em; */
    }

    select.form-input{
        border-top: 0px;
        height: 60px;

        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 5px;
        
    }
    input.search{
        left: 0px;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
    }
    input.submit{
        border-top: 0px;
        left: 0px;
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }

    .brewery{
        top:0px;
    }
    .country{
        bottom: 0px;
    }
    .year{
        bottom: 0px;
    }
}
@media screen and (max-width: 770px){
    img{
        width: 400px;
        height: 300px;
    }
    .main{
        border-top-left-radius: 0.25em;
        border-top-right-radius: 0.25em;
    }
}
@media screen and (max-width: 470px), (min-height: 750px) {
    img{
        width: 300px;
        height: 250px;
    }
    div.cloned-stat-container{
        display: block;
        opacity: 1;
    }
}
/*      var resBig      = [1240,750];
        var resSmall    = [1000, 750];
        var resSmallest = [750, 750]; 
*/

@media screen and (min-height: 750) {
    div.cloned-stat-container{
        display: block;
        
    }
    
}