body{
    background-color: #29335c;
}

.main{
    border-radius: .25rem;
    width: 50%;
    height: 400px;
    margin-top: 15%;
    margin-left: 25%;
    background: linear-gradient( #DB2B39, #29335c);
    text-align: center;
}
#override div{
    background-color: transparent;
}
