body {
    background-color: #29335c;
}

.main {
    border-radius: .25rem;
    width: 50%;
    height: 100%;
    margin-top: 5%;
    margin-left: 25%;
    background: linear-gradient(#DB2B39, #29335c);
    text-align: center;
}

#override div {
    background-color: transparent;
}

.item {
    border: 1px black solid;
    margin-top: 2px;
    margin-bottom: 2px;
}
.stamp{
    color: black;
    font-size: 10px;
    background-color: #29335c;
    text-align: left;
}