.navbar{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: #DB2B39;
    height: 50px;
    margin-left: 10%;
    border-bottom: 1px solid black;
}

.nav-btn{
    height: 100%;
    border: 1px solid transparent;
    text-align: center;
    padding-top: 10px;
    width: 20%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


ol{
    display: none;
}

.system{
    display: flex;
    flex-direction: column;
}

.system:hover ol{
    background-color: #DB2B39;
    border: 2px solid black;
    list-style-type: none;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: -3px 37px 53px 7px rgba(0,0,0,0.50);
    -moz-box-shadow: -3px 37px 53px 7px rgba(0,0,0,0.50);
    box-shadow: -3px 37px 53px 7px rgba(0,0,0,0.50);
    width: 102%;
    margin-left: -1%;
}

.list-element{
    float: left;
    position: relative;
    text-align: center;
    height: 50px;
    padding:10px;
    border: 1px solid transparent;
    margin-left: -40px;
    
}
.list-element:hover{
    border: 1px solid black;
    -webkit-box-shadow: inset 0 30px 82px -53px rgba(0,0,0,0.61);
    -moz-box-shadow: inset 0 30px 82px -53px rgba(0,0,0,0.61);
    box-shadow: inset 0 30px 82px -53px rgba(0,0,0,0.61);
}

.navbar:hover{
    -webkit-box-shadow: 0 30px 152px 15px rgba(0,0,0,1);
    -moz-box-shadow: 0 30px 152px 15px rgba(0,0,0,1);
    box-shadow: 0 30px 152px 15px rgba(0,0,0,1);
    border: 1px solid black;
    border-top:0;
    animation-name: shadow;
    animation-duration: 0.25s;
    z-index: 9999999999999;
}

.navbar > .nav-btn:hover{
    border: 1px solid black;
    
    -webkit-box-shadow: inset 0 30px 82px -53px rgba(0,0,0,0.61);
    -moz-box-shadow: inset 0 30px 82px -53px rgba(0,0,0,0.61);
    box-shadow: inset 0 30px 82px -53px rgba(0,0,0,0.61);
}

@keyframes shadow{
    0%   {
        -webkit-box-shadow: 0 30px 152px 15px rgba(0,0,0,0.25);
        -moz-box-shadow: 0 30px 152px 15px rgba(0,0,0,0.25);
        box-shadow: 0 30px 152px 15px rgba(0,0,0,0.25);
    }
    25%  {
        -webkit-box-shadow: 0 30px 152px 15px rgba(0,0,0,0.40);
        -moz-box-shadow: 0 30px 152px 15px rgba(0,0,0,0.40);
        box-shadow: 0 30px 152px 15px rgba(0,0,0,0.40);
    }
    50%  {
        -webkit-box-shadow: 0 30px 152px 15px rgba(0,0,0,0.70);
        -moz-box-shadow: 0 30px 152px 15px rgba(0,0,0,0.70);
        box-shadow: 0 30px 152px 15px rgba(0,0,0,0.70);
    }
    100% {
        -webkit-box-shadow: 0 30px 152px 15px rgba(0,0,0,1);
        -moz-box-shadow: 0 30px 152px 15px rgba(0,0,0,1);
        box-shadow: 0 30px 152px 15px rgba(0,0,0,1);
    }
}

a, a:hover{
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.logout{
    padding-top: 10px;
    font-size: 2rem !important;
}
.notify-bubble {
    display: none;
    border: 1.5px solid black;
    color: white !important;
    position: absolute;
    top: -11px;
    right: -12px;
    padding: 3px 4px 5px;
    background-color: orangered;
    font-size: 0.65em;
    border-radius: 50%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}
